.setup-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
    
.form-group, .block-section {
    margin-bottom: 15px;
}

h4 {
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-option {
    
    padding: 16px;
    margin: 15px;
    height: 90px;
}
select {
    appearance: none; /* Remove default styling of select element */
    background-color: transparent;
    color: black; /* Ensure text is white by default */
}

.button-container {
    text-align: center;
}
.result {
    text-align: center;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:disabled {
    background-color: #ccc; /* Grey out button when disabled */
    cursor: not-allowed; /* Show not-allowed cursor on hover */
}
